# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Udacity_Java_Entwikler\SpringBoot\nd035-c1-spring-boot-basics-examples-master\udacity-jwdnd-c1-l3-html-templates-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
